*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #2d3b51;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;

}

.logo{
    color: white;
    display: flex;
    gap: 25px;

}

.nav-links{
    list-style:none;
    display:flex;
    gap: 25px;
}

.nav-links a {
    color:white;
    text-decoration:none;
    font-size:16px;

}

.nav-links a:hover {
    color: #7cb4cc;
}

.hero{
    height: 60vh;
    background-color: #dce3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1{
    font-size: 36px;
}

.hero-button{
    margin-top: 15px;
    padding: 10px 20px;
    border:none;
    background-color: #1e293b;
    color: white;
    cursor: pointer;
}

.features {
    display: flex;
    gap: 20px;
    padding: 40px;
}

.card{
    flex: 1;
    padding: 30px;
    background: color #f1f5f9;
    text-align:center;
    border-radius: 8px;
    
}

.footer{
    background-color: #1e293b;
    color:white;
    text-align: center;
    padding: 20px;
}